<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClientServlet</servlet-name>
        <servlet-class>Client.addClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateClientServlet</servlet-name>
        <servlet-class>Client.updateClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClientServlet</servlet-name>
        <servlet-class>Client.deleteClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPackageServlet</servlet-name>
        <servlet-class>Package.addPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePackageServlet</servlet-name>
        <servlet-class>Package.updatePackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePackageServlet</servlet-name>
        <servlet-class>Package.deletePackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPaymentSevlet</servlet-name>
        <servlet-class>Payment.addPaymentSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAttendanceServlet</servlet-name>
        <servlet-class>Attendance.addAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addShiftServlet</servlet-name>
        <servlet-class>Shift.addShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateShiftServlet</servlet-name>
        <servlet-class>Shift.updateShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteShiftServlet</servlet-name>
        <servlet-class>Shift.deleteShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTrainerServlet</servlet-name>
        <servlet-class>Trainer.addTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTrainerServlet</servlet-name>
        <servlet-class>Trainer.updateTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrainerServlet</servlet-name>
        <servlet-class>Trainer.deleteTrainerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesServlet</servlet-name>
        <servlet-class>sales.salesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClientServlet</servlet-name>
        <url-pattern>/addClient.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateClientServlet</servlet-name>
        <url-pattern>/updateClient.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClientServlet</servlet-name>
        <url-pattern>/deleteClient.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPackageServlet</servlet-name>
        <url-pattern>/addPackage.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePackageServlet</servlet-name>
        <url-pattern>/updatePackage.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePackageServlet</servlet-name>
        <url-pattern>/deletePackage.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPaymentSevlet</servlet-name>
        <url-pattern>/addPayment.Sevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAttendanceServlet</servlet-name>
        <url-pattern>/addAttendance.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addShiftServlet</servlet-name>
        <url-pattern>/addShift.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateShiftServlet</servlet-name>
        <url-pattern>/updateShift.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteShiftServlet</servlet-name>
        <url-pattern>/deleteShift.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTrainerServlet</servlet-name>
        <url-pattern>/addTrainer.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTrainerServlet</servlet-name>
        <url-pattern>/updateTrainer.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrainerServlet</servlet-name>
        <url-pattern>/deleteTrainer.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesServlet</servlet-name>
        <url-pattern>/sales.Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout.Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
